
/* title for about page */
/* .title {
       height: 75px;
        font-size: 50px;
        text-align: center;
        margin-bottom: -10px;
        letter-spacing: 20px;
        font-family: 'Fjalla One', serif;
        padding-top: 10px;
        color: #002626;

}
     */
/* text for about page*/
/* .about-text {
        height: 500px;
        text-align: center;
        padding-top: 50px;
        font-family: 'Fjalla One', serif;
        color: #002626;
        text-decoration: none;
        font-size: 24px;
    } */